@model List<AppUserVM>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@ViewBag.Header</h4>
        <a asp-controller="User" asp-action="Index" class="ms-4 mb-2 mt-0">
            <button class="btn btn-outline-info">Back to List</button>
        </a>
        <div class="row">
            <div class="col-12">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                    <img src="@item.ImagePath" class="img-lg rounded" alt="umage">
                                    <div class="ms-3">
                                        <h6>@item.FullName</h6>
                                        <p class="mt-2 text-success font-weight-bold">@item.Title.Name - @item.Profession.Name</p>
                                        <p class="text-muted">@item.Email</p>
                                        <p class="text-muted">@item.PhoneNumber</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>