@model List<CashAdvanceVM>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Cash Advance Requests</h4>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <form>
                        @if (Model == null || Model.Count == 0)
                        {
                            <p class="text-center mt-4" style="font-style: italic;">Has no data</p>
                        }
                        else
                        {
                            <table id="order-listing" class="table">
                                <thead>
                                    <tr>
                                        <th>Advance To</th>
                                        <th>Approved By</th>
                                        <th>Requested Amount</th>
                                        <th>Currency</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.FullName</td>
                                            <td>@item.Director.Name @item.Director.SecondName @item.Director.Surname</td>
                                            <td>@item.RequestedAmount</td>
                                            @if (item.Currency == Currency.TL)
                                            {
                                                <td>&#x20BA;</td>
                                            }
                                            @if (item.Currency == Currency.USD)
                                            {
                                                <td>&#x24;</td>
                                            }
                                            @if (item.Currency == Currency.EUR)
                                            {
                                                <td>&#x20AC;</td>
                                            }
                                            @if (@item.Status == Status.Active || item.Status == Status.Modified)
                                            {
                                                <td>
                                                    Approved
                                                </td>
                                            }
                                            @if (@item.Status == Status.Passive)
                                            {
                                                <td>
                                                    In Pending
                                                </td>
                                            }
                                            <td>
                                                <button class="btn btn-outline-primary" asp-controller="CashAdvance" asp-action="CashAdvanceRequestDetails" asp-route-id="@item.Id">Details</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>