@model CashAdvanceVM

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Cash Advance Details</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="AdvanceToId" />

                            <div class="form-group">
                                <label asp-for="FullName" class="form-label">Expense By</label><br />
                                <input asp-for="FullName" type="text" class="form-control mb-3" disabled style="background-color: #7f7f7f; color: #000000; font-weight: 450;">
                            </div>

                            <div class="form-group">
                                <label asp-for="RequestedAmount" class="form-label">Requested Amount</label><br />
                                <input asp-for="RequestedAmount" type="number" class="form-control mb-3" disabled style="background-color: #7f7f7f; color: #000000; font-weight: 450;">
                            </div>

                            <div class="form-group">
                                <label asp-for="InstallmentCount" class="form-label">Installment Count</label><br />
                                <input asp-for="InstallmentCount" type="number" class="form-control mb-3" disabled style="background-color: #7f7f7f; color: #000000; font-weight: 450;">
                            </div>

                            <div class="form-group">
                                <label asp-for="FinalDateRequest" class="form-label">Final Date Request</label><br />
                                <span asp-validation-for="FinalDateRequest" class="text-danger"></span>
                                <input asp-for="FinalDateRequest" type="date" class="form-control mb-3" disabled style="background-color: #7f7f7f; color: #000000; font-weight: 450;">
                            </div>

                            <div class="form-group">
                                <label asp-for="Currency" class="form-label">Currency</label><br />
                                <span asp-validation-for="Currency" class="text-danger"></span>
                                <select asp-for="Currency" type="text" class="form-control mb-3" asp-items="@Html.GetEnumSelectList<Currency>()" disabled></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description" class="form-label">Description</label><br />
                                <input asp-for="Description" type="text" class="form-control mb-3" disabled style="background-color: #7f7f7f; color: #000000; font-weight: 450;">
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="btn-group" role="group" aria-label="Cash Advance Actions">
                            <a id="acceptButton" asp-controller="CashAdvance" asp-action="AcceptCashAdvance" asp-route-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#acceptModal" class="btn btn-outline-primary">Accept Cash Advance</a>
                            <a id="refuseButton" asp-controller="CashAdvance" asp-action="RefuseCashAdvance" asp-route-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#refuseModal" class="btn btn-outline-danger">Refuse Cash Advance</a>
                            <a asp-controller="CashAdvance" asp-action="CashAdvanceRequests" class="btn btn-outline-info">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="acceptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Accept a Cash Advance</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to accept this cash advance?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>

                <a asp-controller="CashAdvance" asp-action="AcceptCashAdvance" asp-route-id="@Model.Id">
                    <button data-bs-toggle="modal" data-bs-target="#acceptModal" class="btn btn-outline-success">Yes</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="refuseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Refuse a Cash Advance</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to refuse this cash advance?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>

                <a asp-controller="CashAdvance" asp-action="RefuseCashAdvance" asp-route-id="@Model.Id">
                    <button data-bs-toggle="modal" data-bs-target="#refuseModal" class="btn btn-outline-danger">Yes</button>
                </a>
            </div>
        </div>
    </div>
</div>
