@*
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ŞİRKET YÖNETİCİSİ ADVANCE LIST
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*@

@model List<CashAdvanceVM>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Cash Advance List</h4>
        <a asp-controller="CashAdvance" asp-action="Create">
            <button class="btn btn-outline-primary">Add Cash Advance</button>
        </a>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <form>
                        @if (Model == null || Model.Count == 0)
                        {
                            <p class="text-center mt-4" style="font-style: italic;">Has no data</p>
                        }
                        else
                        {
                            <table id="order-listing" class="table">
                                <thead>
                                    <tr>
                                        <th>Cash Advance To</th>
                                        <th>Approved By</th>
                                        <th>Requested Amount</th>
                                        <th>Currency</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.FullName</td>
                                            <td>@item.Director.Name @item.Director.SecondName @item.Director.Surname</td>
                                            <td>@item.RequestedAmount</td>
                                            @if (item.Currency == Currency.TL)
                                            {
                                                <td><p value="&#x20BA;"></p></td>
                                            }
                                            @if (item.Currency == Currency.USD)
                                            {
                                                <td><p value="&#x24;"></p></td>
                                            }
                                            @if (item.Currency == Currency.EUR)
                                            {
                                                <td><p value="&#x20AC;"></p></td>
                                            }
                                            @if (@item.Status == Status.Active || item.Status == Status.Modified)
                                            {
                                                <td>
                                                    Approved
                                                </td>
                                            }
                                            @if (@item.Status == Status.Passive)
                                            {
                                                <td>
                                                    In Pending
                                                </td>
                                            }
                                            <td>
                                                @if ((item.Status == Status.Passive || item.Status == Status.Deleted) && item.CurrentUserId == item.AdvanceToId)
                                                {
                                                    <button class="btn btn-outline-primary" asp-controller="CashAdvance" asp-action="Update" asp-route-id="@item.Id">Update</button>
                                                }
                                                <button class="btn btn-outline-danger" asp-controller="CashAdvance" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a asp-controller="CashAdvance" asp-action="CashAdvanceExport" class="m-4">
        <button class="btn btn-outline-primary">Export</button>
    </a>
</div>