@model List<AppUserVM>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@ViewBag.Header</h4>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <form>
                        <table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Full Name</th>
                                    <th>Title</th>
                                    <th>Company Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Area != "Site Administrator")
                                {

                                    <div class="d-flex justify-content-center mb-2">
                                        <div class="col-md-3 m-3">
                                            <button class="btn btn-outline-primary" asp-action="CreateCompanyManager">New Company Manager</button>
                                        </div>
                                        <div class="col-md-3 m-3">
                                            <button class="btn btn-outline-primary" asp-action="StaffCards">Go to Staff Summary</button>
                                        </div>
                                        <div class="col-md-3 m-3">
                                            <button class="btn btn-outline-primary" asp-action="CreatePersonal">New Personal</button>
                                        </div>
                                    </div>
                                }

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Email</td>
                                        <td>@item.FullName</td>
                                        <td>@item.Title.Name</td>
                                        <td>@item.CompanyName</td>
                                        <td>
                                            <button class="btn btn-outline-primary" asp-action="Update" asp-route-id="@item.Id">Update</button>
                                            <button class="btn btn-outline-danger" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a asp-controller="User" asp-action="UserExcel" class="m-4">
        <button class="btn btn-outline-primary">Export to Excel</button>
    </a>
    <a asp-controller="User" asp-action="UserPDF" class="m-4">
        <button class="btn btn-outline-primary">Export to PDF</button>
    </a>
</div>