@model List<CompanyVM>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Company List</h4>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <form>
                        @*<table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Sector Name</th>
                                    <th>Number of Employees</th>
                                    <th>Contact Person</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.SectorName</td>
                                        <td>@item.NumberOfEmployees</td>
                                        <td>@item.ContactPerson</td>
                                        <td>
                                            <button class="btn btn-outline-primary" asp-action="Update" asp-route-id="@item.Id">Update</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>*@
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Data table</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="dataTables_length" id="order-listing_length">
                                                            <label>Show <select name="order-listing_length" aria-controls="order-listing" class="custom-select custom-select-sm form-control"><option value="5">5</option><option value="10">10</option><option value="15">15</option><option value="-1">All</option></select> entries</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <div id="order-listing_filter" class="dataTables_filter">
                                                            <label>
                                                                <input type="search" class="form-control" placeholder="Search" aria-controls="order-listing">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table id="order-listing" class="table dataTable no-footer" aria-describedby="order-listing_info">
                                                            <thead>
                                                                <tr>
                                                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Order #: activate to sort column descending" style="width: 59.4375px;">Order #</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 107.219px;">Name</th>

                                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 76.9688px;">Email</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Sector Name: activate to sort column ascending" style="width: 55.9062px;">Sector Name</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Number Of Employees: activate to sort column ascending" style="width: 125.172px;">Number Of Employees</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Contact Person: activate to sort column ascending" style="width: 82.0156px;">Contact Person</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 61.6094px;">Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <td>@item.Name</td>
                                                                        <td>@item.Email</td>
                                                                        <td>@item.SectorName</td>
                                                                        <td>@item.NumberOfEmployees</td>
                                                                        <td>@item.ContactPerson</td>
                                                                        <td>
                                                                            <button class="btn btn-outline-primary" asp-action="Update" asp-route-id="@item.Id">Update</button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">Showing 1 to 10 of 10 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="order-listing_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="order-listing_previous"><a href="#" aria-controls="order-listing" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="order-listing" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="order-listing_next"><a href="#" aria-controls="order-listing" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a asp-controller="Company" asp-action="CompanyExcel" class="m-4">
        <button class="btn btn-outline-primary">Export to Excel</button>
    </a>
</div>
