@model List<CompanyVM>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Company List</h4>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <form>
                        <table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Sector Name</th>
                                    <th>Number of Employees</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.SectorName</td>
                                        <td>@item.NumberOfEmployees</td>
                                        <td>
                                            <button class="btn btn-outline-primary" asp-action="Update" asp-route-id="@item.Id">Update</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a asp-controller="Company" asp-action="CompanyExcel" class="m-4">
        <button class="btn btn-outline-primary">Export to Excel</button>
    </a>
</div>