@model ExpenseVM

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Expense Details</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="Status" />
                            <input type="hidden" asp-for="ApprovedById" />
                            <input type="hidden" asp-for="ExpenseById" />
                            <input type="hidden" asp-for="CompanyId" />

                            <div class="form-group">
                                <label asp-for="FullName" class="form-label">Expense By</label><br />
                                <input asp-for="FullName" type="text" class="form-control mb-3" disabled style="background-color: #7f7f7f; color: #000000; font-weight: 450;">
                            </div>

                            <div class="form-group">
                                <label asp-for="ShortDescription" class="form-label">Short Description</label><br />
                                <input asp-for="ShortDescription" type="text" class="form-control mb-3" disabled style="background-color: #7f7f7f; color: #000000; font-weight: 450;">
                            </div>

                            <div class="form-group">
                                <label asp-for="LongDescription" class="form-label">Long Description</label><br />
                                <input asp-for="LongDescription" type="text" class="form-control mb-3" disabled style="background-color: #7f7f7f; color: #000000; font-weight: 450;">
                            </div>

                            <div class="form-group">
                                <label asp-for="Amount" class="form-label">Amount</label><br />
                                <input asp-for="Amount" type="text" class="form-control mb-3" disabled style="background-color: #7f7f7f; color: #000000; font-weight: 450;">
                            </div>

                            <div class="form-group">
                                <label asp-for="ExpenseDate" class="form-label">Expense Date</label><br />
                                <input asp-for="ExpenseDate" type="date" class="form-control mb-3" disabled style="background-color: #7f7f7f; color: #000000; font-weight: 450;">
                            </div>

                            <div class="form-group">
                                <label asp-for="Type" class="form-label">Type</label><br />
                                <select asp-for="Type" type="text" class="form-control mb-3" asp-items="@Html.GetEnumSelectList<ExpenseType>()" disabled style="background-color: #7f7f7f; color: #000000; font-weight: 450;"></select>
                            </div>
                        </div>

                    </div>
                    <a asp-controller="Expense" asp-action="AcceptExpense" asp-route-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#acceptModal">
                        <button class="btn btn-outline-primary">Accept Expense</button>
                    </a>
                    <a asp-controller="Expense" asp-action="RefuseExpense" asp-route-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#refuseModal">
                        <button class="btn btn-outline-danger">Refuse Expense</button>
                    </a>
                    <a asp-controller="Expense" asp-action="ExpenseRequests">
                        <button class="btn btn-outline-info">Back to List</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="acceptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Accept an Expense</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to accept this expense?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>

                <a asp-controller="Expense" asp-action="AcceptExpense" asp-route-id="@Model.Id">
                    <button data-bs-toggle="modal" data-bs-target="#acceptModal" class="btn btn-outline-success">Yes</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="refuseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Refuse an Expense</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to refuse this expense?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>

                <a asp-controller="Expense" asp-action="RefuseExpense" asp-route-id="@Model.Id">
                    <button data-bs-toggle="modal" data-bs-target="#refuseModal" class="btn btn-outline-danger">Yes</button>
                </a>
            </div>
        </div>
    </div>
</div>