@*
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ŞİRKET YÖNETİCİSİ EXPENSE LIST
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*@


@model List<ExpenseVM>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Expense List</h4>
        <a asp-controller="Expense" asp-action="Create">
            <button class="btn btn-outline-primary">Add Expense</button>
        </a>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <form>
                         @if (Model == null || Model.Count == 0)
                        {
                            <p class="text-center mt-4" style="font-style: italic;">Has no data</p>
                        }
                        else
                        {
                        <table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th>Expense By</th>
                                    <th>Approved By</th>
                                    <th>Short Description</th>
                                    <th>Amount</th>
                                    <th>Expense Type</th>
                                    <th>Expense Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ExpenseBy.Name @item.ExpenseBy.SecondName @item.ExpenseBy.Surname</td>
                                        <td>@item.ApprovedBy.Name @item.ApprovedBy.SecondName @item.ApprovedBy.Surname</td>
                                        <td>@item.ShortDescription</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Type</td>
                                        <td>@item.ExpenseDate.ToShortDateString()</td>
                                        @if (@item.Status == Status.Active || item.Status == Status.Modified)
                                        {
                                            <td>
                                                Approved
                                            </td>
                                        }
                                        @if (@item.Status == Status.Passive)
                                        {
                                            <td>
                                                In Pending
                                            </td>
                                        }
                                        <td>
                                            @if ((item.Status == Status.Passive || item.Status == Status.Deleted) && item.CurrentUserId == item.ExpenseById)
                                            {
                                                <button class="btn btn-outline-primary" asp-controller="Expense" asp-action="Update" asp-route-id="@item.Id">Update</button>
                                            }
                                            <button class="btn btn-outline-danger" asp-controller="Expense" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a asp-controller="Expense" asp-action="ExpenseExport" class="m-4">
        <button class="btn btn-outline-primary">Export</button>
    </a>
</div>