@*
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ŞİRKET YÖNETİCİSİ LEAVE LIST
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*@

@model List<LeaveVM>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Leave List</h4>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <form>
                        <table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th>Personal</th>
                                    <th>Approved By</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Explanation</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <button class="btn btn-outline-primary" asp-action="CreateLeave">New Leave</button>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@item.PersonalFullName</td>
                                        <td>@item.ApprovedBy.Name @item.ApprovedBy.SecondName @item.ApprovedBy.Surname</td>
                                        <td>@item.StartDate.ToShortDateString()</td>
                                        <td>@item.EndDate.ToShortDateString()</td>
                                        <td>@item.Explanation</td>
                                        @if (@item.Status == Status.Active || item.Status == Status.Modified)
                                        {
                                            <td>
                                                Approved
                                            </td>
                                        }
                                        @if (@item.Status == Status.Passive)
                                        {
                                            <td>
                                                In Pending
                                            </td>
                                        }
                                        <td>
                                            @if ((item.Status == Status.Passive || item.Status == Status.Deleted) && item.CurrentUserId == item.AppUserId)
                                            {
                                                <button class="btn btn-outline-primary" asp-action="EditLeave" asp-route-id="@item.Id">Update</button>
                                            }
                                            <button class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                                        </td>
                                    </tr>


                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a asp-controller="Leave" asp-action="LeaveExport" class="m-4">
        <button class="btn btn-outline-primary">Export</button>
    </a>
</div>