@model List<LeaveVM>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Leave List</h4>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <form>
                        <table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Explanation</th>
                                    <th>LeaveStatus</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <button class="btn btn-outline-primary" asp-action="CreateLeave">New Leave</button>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.StartDate</td>
                                        <td>@item.EndDate</td>
                                        <td>@item.Explanation</td>
                                        <td>@item.LeaveStatus</td>
                                        <td>
                                            <button class="btn btn-outline-primary" asp-action="EditLeave" asp-route-id="@item.Id">Update</button>
                                            <button class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>