@model AppUserUpdateDTO

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">@ViewBag.Title</h5>
                <form asp-controller="User" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="UploadPath" class="form-label">Photo</label>
                                <div class="form-group">
                                    <img src="@Model.ImagePath" width="200" />
                                </div>

                                <div class="form-group">
                                    <span asp-validation-for="UploadPath" class="text-danger"></span>
                                    <input asp-for="UploadPath" type="file" class="form-control mb-3" placeholder="Photo">
                                </div>
                            </div>

                            <div class="col-md-8">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="ImagePath" />
                                <input type="hidden" asp-for="CompanyId" />
                                <input type="hidden" asp-for="CreateDate" />
                                <input type="hidden" asp-for="UpdateDate" />
                                <input type="hidden" asp-for="Status" />
                                <input type="hidden" asp-for="Email" />
                                <input type="hidden" asp-for="Titles" />
                                <input type="hidden" asp-for="Companies" />

                                <div class="form-group">
                                    <label asp-for="Name" class="form-label">Name</label><br />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                    <input asp-for="Name" type="text" class="form-control mb-3" placeholder="Enter Name">
                                </div>

                                <div class="form-group">
                                    <label asp-for="SecondName" class="form-label">Second Name</label><br />
                                    <span asp-validation-for="SecondName" class="text-danger"></span>
                                    <input asp-for="SecondName" type="text" class="form-control mb-3" placeholder="Enter Second Name">
                                </div>

                                <div class="form-group">
                                    <label asp-for="Surname" class="form-label">Surname</label><br />
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                    <input asp-for="Surname" type="text" class="form-control mb-3" placeholder="Enter Surname">
                                </div>

                                <div class="form-group">
                                    <label asp-for="TitleId" class="form-label">Title</label><br />
                                    <span asp-validation-for="TitleId" class="text-danger"></span>
                                    <select asp-for="TitleId" type="text" class="form-control mb-3" asp-items="@(new SelectList(Model.Titles,"Id","Name"))"></select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="BloodGroup" class="form-label">Blood Group</label><br />
                                    <span asp-validation-for="BloodGroup" class="text-danger"></span>
                                    <select asp-for="BloodGroup" type="text" class="form-control mb-3" asp-items="@Html.GetEnumSelectList<BloodGroup>()"></select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Profession" class="form-label">Profession</label><br />
                                    <span asp-validation-for="Profession" class="text-danger"></span>
                                    <input asp-for="Profession" type="text" class="form-control mb-3" placeholder="Enter Profession">
                                </div>

                                <div class="form-group">
                                    <label asp-for="BirthDate" class="form-label">Birth Date</label><br />
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                    <input asp-for="BirthDate" type="date" class="form-control mb-3" placeholder="Enter Birth Date">
                                </div>

                                <div class="form-group">
                                    <label asp-for="IdentityNumber" class="form-label">Identity Number</label><br />
                                    <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                                    <input asp-for="IdentityNumber" type="text" class="form-control mb-3" placeholder="Enter Identity Number">
                                </div>

                                <div class="form-group">
                                    <label asp-for="Email" class="form-label">Email</label><br />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <input asp-for="Email" type="email" class="form-control mb-3" placeholder="Enter Email" disabled>
                                </div>

                                <div class="form-group">
                                    <label asp-for="CompanyId" class="form-label">Company</label><br />
                                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                                    <select asp-for="CompanyId" type="text" class="form-control mb-3" asp-items="@(new SelectList(Model.Companies,"Id","Name"))"></select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password" class="form-label">Password</label><br />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <input asp-for="Password" type="password" class="form-control mb-3" placeholder="Enter Password">
                                </div>

                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label><br />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control mb-3" placeholder="Enter Password Again">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>