@model AppUserUpdateDTO

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">@ViewBag.Title</h5>
                <form id="form" asp-controller="User" asp-action="Update" method="post" enctype="multipart/form-data" onsubmit="return validateDate();">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="UploadPath" class="form-label">Photo</label>
                                <div class="form-group">
                                    <img src="@Model.ImagePath" width="200" />
                                </div>

                                <div class="form-group">
                                    <span asp-validation-for="UploadPath" class="text-danger"></span>
                                    <input asp-for="UploadPath" type="file" class="form-control mb-3" placeholder="Photo">
                                </div>
                            </div>

                            <div class="col-md-8">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="Name" />
                                <input type="hidden" asp-for="SecondName" />
                                <input type="hidden" asp-for="Surname" />
                                <input type="hidden" asp-for="ImagePath" />
                                <input type="hidden" asp-for="Email" />
                                <input type="hidden" asp-for="Titles" />
                                <input type="hidden" asp-for="TitleId" />
                                <input type="hidden" asp-for="Professions" />
                                <input type="hidden" asp-for="Profession" />
                                <input type="hidden" asp-for="ProfessionId" />
                                <input type="hidden" asp-for="IdentityNumber" />
                                <input type="hidden" asp-for="CreateDate" />
                                <input type="hidden" asp-for="UpdateDate" />
                                <input type="hidden" asp-for="Status" />
                                <input type="hidden" asp-for="Companies" />
                                <input type="hidden" asp-for="CompanyId" />
                                <input type="hidden" asp-for="PatronId" />

                                <div class="form-group">
                                    <label asp-for="Name" class="form-label">Name</label><br />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                    <input asp-for="Name" type="text" class="form-control mb-3" placeholder="Enter Name" disabled="@(!User.IsInRole("CompanyAdministrator"))">
                                </div>

                                <div class="form-group" />
                                <label asp-for="SecondName" class="form-label">Second Name</label><br />
                                <span asp-validation-for="SecondName" class="text-danger"></span>
                                <input asp-for="SecondName" type="text" class="form-control mb-3" placeholder="Enter Second Name" disabled="@(!User.IsInRole("CompanyAdministrator"))">
                            </div>

                            <div class="form-group">
                                <label asp-for="Surname" class="form-label">Surname</label><br />
                                <span asp-validation-for="Surname" class="text-danger"></span>
                                <input asp-for="Surname" type="text" class="form-control mb-3" placeholder="Enter Surname" disabled="@(!User.IsInRole("CompanyAdministrator"))">
                            </div>

                            <div class="form-group">
                                <label asp-for="TitleId" class="form-label">Title</label><br />
                                <span asp-validation-for="TitleId" class="text-danger"></span>
                                <select asp-for="TitleId" type="text" class="form-control mb-3" asp-items="@(new SelectList(Model.Titles.Where(x => x.CompanyId == Model.CompanyId),"Id","Name"))" disabled="@(!User.IsInRole("CompanyAdministrator"))"></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="ProfessionId" class="form-label">Profession</label><br />
                                <span asp-validation-for="ProfessionId" class="text-danger"></span>
                                <select asp-for="ProfessionId" type="text" class="form-control mb-3" asp-items="@(new SelectList(Model.Professions.Where(x => x.CompanyId == Model.CompanyId),"Id","Name"))" disabled="@(!User.IsInRole("CompanyAdministrator"))"></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="BloodGroup" class="form-label">Blood Group</label><br />
                                <span asp-validation-for="BloodGroup" class="text-danger"></span>
                                <select asp-for="BloodGroup" type="text" class="form-control mb-3" asp-items="@Html.GetEnumSelectList<BloodGroup>()"></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="BirthDate" class="form-label">Birth Date</label><br />
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                                <input id="birthDateInput" asp-for="BirthDate" type="date" class="form-control mb-3" disabled="@(!User.IsInRole("CompanyAdministrator"))">
                            </div>

                            <div class="form-group">
                                <label asp-for="JobStartDate" class="form-label">Start Date</label><br />
                                <span asp-validation-for="JobStartDate" class="text-danger"></span>
                                <input id="jobStart" asp-for="JobStartDate" type="date" class="form-control mb-3" disabled="@(!User.IsInRole("CompanyAdministrator"))">
                            </div>

                            <div class="form-group">
                                <label asp-for="IdentityNumber" class="form-label">Identity Number</label><br />
                                <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                                <input asp-for="IdentityNumber" type="text" class="form-control mb-3" placeholder="Enter Identity Number" disabled="@(!User.IsInRole("CompanyAdministrator"))">
                            </div>

                            <div class="form-group">
                                <label asp-for="Email" class="form-label">Email</label><br />
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <input asp-for="Email" type="email" class="form-control mb-3" placeholder="Enter Email" disabled>
                            </div>

                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="form-label">Phone Number</label><br />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                <input asp-for="PhoneNumber" type="tel" class="form-control mb-3" placeholder="Enter Phone Number">
                            </div>

                            <div class="form-group">
                                <label asp-for="Password" class="form-label">Password</label><br />
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <input asp-for="Password" type="password" class="form-control mb-3" placeholder="Enter Password">
                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label><br />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                <input asp-for="ConfirmPassword" type="password" class="form-control mb-3" placeholder="Enter Password Again">
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-primary btn-block">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-center mb-2">
                <div class="col-md-2">
                    <a asp-controller="User" asp-action="Index">
                        <button class="btn btn-outline-info">Back to List</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
    $(function () {
        $('#CompanyId').change(function () {
            var companyId = $(this).val();
            var options = "";
    @foreach (var title in Model.Titles)
    {
        <text>
                                            if (companyId == "@title.CompanyId")
                    options += "<option value='@title.Id'>@title.Name</option>";
        </text>
    }
                document.getElementById("TitleId").innerHTML = options;
        });
    })
</script>

<script>
    // JavaScript kodunu belirtilen form ve input alanıyla eşleştirmek için gerekli id'leri kullanın
    var formId = "form"; // Formun id'si
    var inputId = "birthDateInput"; // DateTime input alanının id'si
    var jobStartId = "jobStart"; // DateTime input alanının id'si

    // Form gönderildiğinde tetiklenen fonksiyon
    function validateDate() {
        var form = document.getElementById(formId); // Formu al
        var input = document.getElementById(inputId); // Input alanını al
        var job = document.getElementById(jobStartId); // Input alanını al

        // Şu anki tarihi al
        var now = new Date();

        // Giriş yapılan tarihi al
        var enteredDate = new Date(input.value);
        var jobDate = new Date(job.value);

        // Şuandan 1 yıl öncesini hesapla
        var ago = new Date(now.getFullYear() - 18, now.getMonth(), now.getDate());

        // Bugünden ileri bir tarih girilmişse
        if (jobDate > now) {
            alert("You cannot select a future date!");
            return false;
        }


        // Girilen tarih şuandan 1 yıl öncesine denk geliyorsa
        if (ago <= enteredDate) {
            alert("You must be at least 18 years old to register.");
            return false;
        }

        // Formu gönder
        form.submit();
    }
</script>