@model AppUserVM
@{
    string area = @Model.Roles[0].Replace(" ", "");
}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" asp-controller="" asp-action=""><img src="~/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" asp-controller="" asp-action=""><img src="~/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src="@Model.ImagePath" alt="">
                        <span class="count bg-success"></span>
                    </div>
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">@Model.FullName</h5>
                        <span>@Model.Roles[0]</span>
                    </div>
                </div>
            </div>
        </li>
        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item nav-category">

                <span class="nav-link">Company</span>
            </li>
        }
        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="Company" asp-action="Update" asp-route-id="@Model.CompanyId">
                    <span class="menu-icon">
                        <i class="mdi mdi-office-building"></i>
                    </span>
                    <span class="menu-title">Company Details</span>
                </a>
            </li>
        }
        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="User" asp-action="Index">
                    <span class="menu-icon">
                        <i class="mdi mdi-account"></i>
                    </span>
                    <span class="menu-title">Staff</span>
                </a>
            </li>
        }
        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item nav-category">
                <span class="nav-link">Company Lists</span>
            </li>
        }
        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="Expense" asp-action="Index">
                    <span class="menu-icon">
                        <i class="mdi mdi-credit-card"></i>
                    </span>
                    <span class="menu-title">Company Expenses</span>
                </a>
            </li>
        }
        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="Leave" asp-action="Index">
                    <span class="menu-icon">
                        <i class="mdi mdi-calendar-clock"></i>
                    </span>
                    <span class="menu-title">Company Leaves</span>
                </a>
            </li>
        }
        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="CashAdvance" asp-action="Index">
                    <span class="menu-icon">
                        <i class="mdi mdi-cash"></i>
                    </span>
                    <span class="menu-title">Company Advances</span>
                </a>
            </li>
        }
        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item nav-category">
                <span class="nav-link">Requests</span>
            </li>
        }
        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="Expense" asp-action="ExpenseRequests">
                    <span class="menu-icon">
                        <i class="mdi mdi-credit-card-clock"></i>
                    </span>
                    <span class="menu-title">Expense Requests</span>
                </a>
            </li>
        }

        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="Leave" asp-action="LeaveRequests">
                    <span class="menu-icon">
                        <i class="mdi mdi-calendar-check-outline"></i>
                    </span>
                    <span class="menu-title">Leave Requests</span>
                </a>
            </li>
        }

        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="CashAdvance" asp-action="CashAdvanceRequests">
                    <span class="menu-icon">
                        <i class="mdi mdi-cash-multiple"></i>
                    </span>
                    <span class="menu-title">Advance Requests</span>
                </a>
            </li>
        }

        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="Report" asp-action="Index">
                    <span class="menu-icon">
                        <i class="mdi mdi-file-chart"></i>
                    </span>
                    <span class="menu-title">Reports</span>
                </a>
            </li>
        }

        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item nav-category">
                <span class="nav-link">Company Definitions</span>
            </li>
        }
        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="Title" asp-action="Index">
                    <span class="menu-icon">
                        <i class="mdi mdi-format-title"></i>
                    </span>
                    <span class="menu-title">Company Titles</span>
                </a>
            </li>
        }
        @if (area == "CompanyAdministrator")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="Profession" asp-action="Index">
                    <span class="menu-icon">
                        <i class="mdi mdi-bank"></i>
                    </span>
                    <span class="menu-title">Company Professions</span>
                </a>
            </li>
        }

        @if (area == "SiteAdministrator")
        {
            <li class="nav-item nav-category">
                <span class="nav-link">System</span>
            </li>
        }
        @if (area == "SiteAdministrator")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="Company" asp-action="Index">
                    <span class="menu-icon">
                        <i class="mdi mdi-office-building"></i>
                    </span>
                    <span class="menu-title">Company List</span>
                </a>
            </li>
        }
        @if (area == "SiteAdministrator")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="User" asp-action="Index">
                    <span class="menu-icon">
                        <i class="mdi mdi-account"></i>
                    </span>
                    <span class="menu-title">Users</span>
                </a>
            </li>
        }
        @if (area == "SiteAdministrator")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="User" asp-action="RegistrationList">
                    <span class="menu-icon">
                        <i class="mdi mdi-database"></i>
                    </span>
                    <span class="menu-title">Registration Requests</span>
                </a>
            </li>
        }

        @if (area == "Personal")
        {
            <li class="nav-item nav-category">
                <span class="nav-link">My Job</span>
            </li>
        }
        @if (area == "Personal")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="Leave" asp-action="ListLeave">
                    <span class="menu-icon">
                        <i class="mdi mdi-calendar-clock"></i>
                    </span>
                    <span class="menu-title">My Leaves</span>
                </a>
            </li>
        }
        @if (area == "Personal")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="Expense" asp-action="Index">
                    <span class="menu-icon">
                        <i class="mdi mdi-credit-card-clock"></i>
                    </span>
                    <span class="menu-title">My Expenses</span>
                </a>
            </li>
        }

        @if (area == "Personal")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="CashAdvance" asp-action="Index">
                    <span class="menu-icon">
                        <i class="mdi mdi-cash"></i>
                    </span>
                    <span class="menu-title">My Cash Advances</span>
                </a>
            </li>
        }
        @if (area == "Personal")
        {
            <li class="nav-item menu-items">
                <a class="nav-link" asp-area="@area" asp-controller="User" asp-action="StaffCards">
                    <span class="menu-icon">
                        <i class="mdi mdi-account-multiple"></i>
                    </span>
                    <span class="menu-title">Company Staff</span>
                </a>
            </li>
        }
    </ul>
</nav>