@*Company admin*@
@model DashboardVM

<div class="row mb-4">
    @*Expense requests count card*@
    <div class="col-md-2">
        <div class="card" style="height: 100%;">
            <div class="card-body">
                <h4 class="card-title">Expense Requests Count</h4>
                <p class="card-description"><h5>@Model.CompanyExpenseRequestsCount</h5></p>
                <div class="d-flex gap-2 justify-content-center">
                    <a asp-controller="Expense" asp-action="ExpenseRequests" style="text-decoration:none;" class="stretched-link"></a>
                </div>
                
            </div>
        </div>
    </div>

    @*Expense count card*@
    <div class="col-md-2">
        <div class="card" style="height: 100%;">
            <div class="card-body">
                <h4 class="card-title">Total Approved Expenses Count</h4>
                <p class="card-description"><h5>@Model.CompanyExpensesCount</h5></p>
                <div class="d-flex gap-2 justify-content-center">
                    <a asp-controller="Expense" asp-action="Index" style="text-decoration:none;" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>

    @*Cash advance requests count card*@
    <div class="col-md-2">
        <div class="card" style="height: 100%;">
            <div class="card-body">
                <h4 class="card-title">Cash Advance Requests Count</h4>
                <p class="card-description"><h5>@Model.CompanyCashAdvanceRequestsCount</h5></p>
                <div class="d-flex gap-2 justify-content-center">
                    <a asp-controller="CashAdvance" asp-action="CashAdvanceRequests" style="text-decoration:none;" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>

    @*Cash advance count card*@
    <div class="col-md-2">
        <div class="card" style="height: 100%;">
            <div class="card-body">
                <h4 class="card-title">Total Approved Advances Count</h4>
                <p class="card-description"><h5>@Model.CompanyCashAdvancesCount</h5></p>
                <div class="d-flex gap-2 justify-content-center">
                    <a asp-controller="CashAdvance" asp-action="Index" style="text-decoration:none;" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>

    @*Leave requests count card*@
    <div class="col-md-2">
        <div class="card" style="height: 100%;">
            <div class="card-body">
                <h4 class="card-title">Leave Requests Count</h4>
                <p class="card-description"><h5>@Model.CompanyLeaveRequestsCount</h5></p>
                <div class="d-flex gap-2 justify-content-center">
                    <a asp-controller="Leave" asp-action="LeaveRequests" style="text-decoration:none;" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>

    @*Leave count card*@
    <div class="col-md-2">
        <div class="card" style="height: 100%;">
            <div class="card-body" >
                <h4 class="card-title">Total Approved Leaves Count</h4>
                <p class="card-description"><h5>@Model.CompanyLeavesCount</h5></p>
                <div class="d-flex gap-2 justify-content-center">
                    <a asp-controller="Leave" asp-action="Index" style="text-decoration:none;" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />